@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i);





body {
  font-family: Poppins;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}
.display-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}
.display-4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
.display-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  position: relative;
  font-weight: 500;
  border-width: 1px;
  font-style: normal;
  letter-spacing: normal;
  margin: .4rem .8rem;
  white-space: normal;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: .3s,.3s,.3s,2s;
  transition-timing-function: ease-in-out;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
  padding: 0.719rem 1.5rem;
  border-radius: 3px;
}
.btn .mbr-iconfont {
  font-size: 1.6rem;
}
.btn:hover:after,
.btn:focus:after,
.btn.active:after {
  content: '';
  border: 1px solid;
  border-color: inherit;
  width: 100%;
  height: 100%;
  transition: border-radius 0.3s;
  position: absolute;
  left: 0%;
  top: 0%;
  opacity: 1;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
.btn:hover:after,
.btn:focus:after,
.btn.active:after {
  -webkit-animation: 1s btn-animation linear infinite;
  animation: 1s btn-animation linear infinite;
}
.note-popover .btn:after {
  display: none;
}
@keyframes btn-animation {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}
.btn-sm {
  border: 1px solid;
  font-weight: 500;
  letter-spacing: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: normal;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.719rem 1.5rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: normal;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.875rem 1.875rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #66458e !important;
}
.bg-success {
  background-color: #365c9a !important;
}
.bg-info {
  background-color: #e96188 !important;
}
.bg-warning {
  background-color: #1baf35 !important;
}
.bg-danger {
  background-color: #ec6963 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #66458e !important;
  border-color: #66458e !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #412c5b !important;
  border-color: #412c5b !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #412c5b !important;
  border-color: #412c5b !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ff4533 !important;
  border-color: #ff4533 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #e51400 !important;
  border-color: #e51400 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e51400 !important;
  border-color: #e51400 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #e96188 !important;
  border-color: #e96188 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #df1f56 !important;
  border-color: #df1f56 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #df1f56 !important;
  border-color: #df1f56 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #365c9a !important;
  border-color: #365c9a !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #223a61 !important;
  border-color: #223a61 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #223a61 !important;
  border-color: #223a61 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #1baf35 !important;
  border-color: #1baf35 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #116d21 !important;
  border-color: #116d21 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #116d21 !important;
  border-color: #116d21 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #ec6963 !important;
  border-color: #ec6963 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #e4271f !important;
  border-color: #e4271f !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #e4271f !important;
  border-color: #e4271f !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  color: #333333 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #333333 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #333333 !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #352449;
  color: #352449 !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff !important;
  background-color: #66458e;
  border-color: #66458e;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #66458e !important;
  border-color: #66458e !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #cc1200;
  color: #cc1200 !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #ff4533;
  border-color: #ff4533;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4533 !important;
  border-color: #ff4533 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #c81c4d;
  color: #c81c4d !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff !important;
  background-color: #e96188;
  border-color: #e96188;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #e96188 !important;
  border-color: #e96188 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #1c2f4e;
  color: #1c2f4e !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff !important;
  background-color: #365c9a;
  border-color: #365c9a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #365c9a !important;
  border-color: #365c9a !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #0d571a;
  color: #0d571a !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff !important;
  background-color: #1baf35;
  border-color: #1baf35;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #1baf35 !important;
  border-color: #1baf35 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #d02119;
  color: #d02119 !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff !important;
  background-color: #ec6963;
  border-color: #ec6963;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ec6963 !important;
  border-color: #ec6963 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff !important;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #66458e !important;
}
.text-secondary {
  color: #ff4533 !important;
}
.text-success {
  color: #365c9a !important;
}
.text-info {
  color: #e96188 !important;
}
.text-warning {
  color: #1baf35 !important;
}
.text-danger {
  color: #ec6963 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #352449 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc1200 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #1c2f4e !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #c81c4d !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #0d571a !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #d02119 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #365c9a;
}
.alert-info {
  background-color: #e96188;
}
.alert-warning {
  background-color: #1baf35;
}
.alert-danger {
  background-color: #ec6963;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: .3s,.3s,.3s,.8s;
  transition-timing-function: ease-in-out;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #66458e;
  border-color: #66458e;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #66458e;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #a68cc7;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #7e9ed2;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #63e77a;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #66458e;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  -webkit-justify-content: center;
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 2rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.special-form {
  border-radius: 100px !important;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #66458e;
  color: #232323;
  cursor: pointer;
  border-radius: 100px;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #66458e;
}
.btn-social + .btn {
  margin-left: .1rem;
}
.input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
.input-group-btn a.btn {
  border-radius: 100px !important;
}
/* Footer */
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.cid-r14WQIxzrV {
  padding-top: 120px;
  padding-bottom: 45px;
  overflow: hidden !important;
}
.cid-r14WQIxzrV .animated-element {
  color: #cccccc;
}
.cid-r14WQIxzrV .img-block {
  align-self: center;
}
.cid-r14WQIxzrV .mbr-section-subtitle {
  color: #cccccc;
}
@media (min-width: 992px) {
  .cid-r14WQIxzrV .img-block {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-r14WQIxzrV .mbr-figure {
    margin-top: 1rem;
  }
}
@media (max-width: 768px) {
  .cid-r14WQIxzrV .img-block {
    padding-bottom: 2rem;
  }
}
.cid-r14WQIxzrV .mbr-section-title {
  color: #81c723;
}
.cid-r14WQIxzrV .mbr-text,
.cid-r14WQIxzrV .mbr-section-btn {
  color: #4267b2;
}
.cid-r14WQIxzrV .mbr-text,
.cid-r14WQIxzrV .mbr-section-btn B {
  color: #efefef;
}
.cid-r14WQIxzrV .mbr-section-title I {
  color: #81c723;
}
.cid-r16SSGER6l {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-r16SSGER6l .card {
  display: flex;
  position: relative;
  justify-content: center;
}
.cid-r16SSGER6l .card .card-wrapper {
  background: #4267b2;
  height: 1%;
}
.cid-r16SSGER6l .card .card-wrapper .card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}
.cid-r16SSGER6l .card .card-wrapper .card-img img {
  transition: all .5s;
}
.cid-r16SSGER6l .card .card-wrapper .card-img .img-text {
  position: absolute;
  padding: .6rem;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
  border-radius: 100px;
  background-color: #4267b2;
}
.cid-r16SSGER6l .card .card-wrapper .card-img .img-text span {
  display: block;
}
.cid-r16SSGER6l .card .card-wrapper .card-box {
  padding: 1.5rem;
}
.cid-r16SSGER6l .mbr-card-text {
  color: #ffffff;
  margin: 0;
}
.cid-r16SSGER6l .mbr-section-title {
  text-align: center;
  color: #4267b2;
}
.cid-r16SSGER6l .mbr-title {
  color: #efefef;
  text-align: center;
}
.cid-r16SSGER6l .mbr-card-text,
.cid-r16SSGER6l .mbr-section-btn {
  text-align: center;
}
.cid-r3g43miJMZ {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #194091;
}
.cid-r3g43miJMZ .mbr-section-subtitle {
  color: #4267b2;
}
.cid-r3g43miJMZ .mbr-section-title {
  color: #ffffff;
}
.cid-r3g43miJMZ .mbr-section-subtitle B {
  color: #bcc2d8;
}
.cid-r3R67GjAZs {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-r3R67GjAZs .mbr-text {
  text-align: center;
  color: #4267b2;
}
.cid-r1ea3IZtxR {
  padding-top: 90px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-r1ea3IZtxR .mbr-text {
  color: #767676;
}
.cid-r1ea3IZtxR .mbr-section-subtitle {
  color: #767676;
}
.cid-r1ea3IZtxR .title {
  position: relative;
  display: flex;
  align-items: center;
}
.cid-r1ea3IZtxR .title .num {
  flex-shrink: 0;
  position: absolute;
  z-index: 0;
  font-size: 4rem;
  width: 100%;
}
.cid-r1ea3IZtxR .title .card-title {
  z-index: 1;
  width: 100%;
}
.cid-r1ea3IZtxR .card-text {
  margin-top: 2rem;
  text-align: center;
  color: #232323;
}
.cid-r1ea3IZtxR .card-box {
  margin-bottom: 1rem;
}
.cid-r1ea3IZtxR .num {
  color: #efefef;
}
@media (max-width: 767px) {
  .cid-r1ea3IZtxR .num,
  .cid-r1ea3IZtxR .card-title,
  .cid-r1ea3IZtxR .mbr-text,
  .cid-r1ea3IZtxR .mbr-title,
  .cid-r1ea3IZtxR .mbr-section-subtitle,
  .cid-r1ea3IZtxR .mbr-section-btn,
  .cid-r1ea3IZtxR .mbr-section-title {
    text-align: center !important;
  }
  .cid-r1ea3IZtxR .content-column {
    margin-bottom: 2rem;
  }
}
.cid-r1ea3IZtxR .mbr-section-title {
  text-align: center;
  color: #4267b2;
}
.cid-r1ea3IZtxR .card-title,
.cid-r1ea3IZtxR .card-img {
  color: #4267b2;
  text-align: center;
}
.cid-r3g3YYyGfC {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-r3g3YYyGfC .mbr-text {
  color: #4267b2;
  text-align: center;
}
.cid-rkToZ6E67P {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rkToZ6E67P .mbr-section-subtitle {
  color: #767676;
}
.cid-rkToZ6E67P .scroll {
  overflow-x: auto;
  padding: 0;
}
.cid-rkToZ6E67P .table-wrapper {
  margin: 0 auto;
}
.cid-rkToZ6E67P table {
  width: 100% !important;
  margin-top: 6px;
  margin-bottom: 0;
}
.cid-rkToZ6E67P table th {
  padding: 1.5rem 1rem;
  transition: all .2s;
  text-align: center;
  background-color: #81c723;
  color: white;
  vertical-align: middle;
}
.cid-rkToZ6E67P table td {
  padding: 1.2rem 1.6rem;
  vertical-align: middle;
}
.cid-rkToZ6E67P .dataTables_filter {
  text-align: right;
  margin-bottom: .5rem;
}
.cid-rkToZ6E67P .dataTables_filter label {
  display: inline;
  white-space: normal !important;
}
.cid-rkToZ6E67P .dataTables_filter input {
  display: inline;
  width: auto;
  margin-left: .5rem;
  border-radius: 100px;
  padding-left: 1rem;
}
.cid-rkToZ6E67P .dataTables_info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: normal !important;
  text-align: left;
  width: 100%;
}
.cid-rkToZ6E67P .dataTables_wrapper {
  display: block;
}
.cid-rkToZ6E67P .dataTables_wrapper .search {
  margin-bottom: .5rem;
}
.cid-rkToZ6E67P .dataTables_wrapper .table {
  overflow-x: auto;
}
.cid-rkToZ6E67P .head-item:after,
.cid-rkToZ6E67P .head-item:before {
  bottom: 1.6em !important;
}
@media (max-width: 992px) {
  .cid-rkToZ6E67P .dataTables_filter {
    text-align: center;
  }
  .cid-rkToZ6E67P .table-wrapper {
    width: 100% !important;
  }
}
@media (max-width: 767px) {
  .cid-rkToZ6E67P .dataTables_filter {
    text-align: center;
  }
  .cid-rkToZ6E67P .dataTables_filter input {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .cid-rkToZ6E67P table th,
  .cid-rkToZ6E67P table td {
    padding: .75rem;
  }
}
.cid-rkToZ6E67P .body-item B {
  color: #ff4533;
}
.cid-rkToZ6E67P .body-item {
  color: #4267b2;
}
.cid-rkToZ6E67P .mbr-section-title,
.cid-rkToZ6E67P .underline {
  color: #4267b2;
}
.cid-rkTqinzbMr {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rkTqinzbMr .mbr-section-subtitle {
  color: #767676;
}
.cid-rkTqinzbMr .scroll {
  overflow-x: auto;
  padding: 0;
}
.cid-rkTqinzbMr .table-wrapper {
  margin: 0 auto;
}
.cid-rkTqinzbMr table {
  width: 100% !important;
  margin-top: 6px;
  margin-bottom: 0;
}
.cid-rkTqinzbMr table th {
  padding: 1.5rem 1rem;
  transition: all .2s;
  text-align: center;
  background-color: #81c723;
  color: white;
  vertical-align: middle;
}
.cid-rkTqinzbMr table td {
  padding: 1.2rem 1.6rem;
  vertical-align: middle;
}
.cid-rkTqinzbMr .dataTables_filter {
  text-align: right;
  margin-bottom: .5rem;
}
.cid-rkTqinzbMr .dataTables_filter label {
  display: inline;
  white-space: normal !important;
}
.cid-rkTqinzbMr .dataTables_filter input {
  display: inline;
  width: auto;
  margin-left: .5rem;
  border-radius: 100px;
  padding-left: 1rem;
}
.cid-rkTqinzbMr .dataTables_info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: normal !important;
  text-align: left;
  width: 100%;
}
.cid-rkTqinzbMr .dataTables_wrapper {
  display: block;
}
.cid-rkTqinzbMr .dataTables_wrapper .search {
  margin-bottom: .5rem;
}
.cid-rkTqinzbMr .dataTables_wrapper .table {
  overflow-x: auto;
}
.cid-rkTqinzbMr .head-item:after,
.cid-rkTqinzbMr .head-item:before {
  bottom: 1.6em !important;
}
@media (max-width: 992px) {
  .cid-rkTqinzbMr .dataTables_filter {
    text-align: center;
  }
  .cid-rkTqinzbMr .table-wrapper {
    width: 100% !important;
  }
}
@media (max-width: 767px) {
  .cid-rkTqinzbMr .dataTables_filter {
    text-align: center;
  }
  .cid-rkTqinzbMr .dataTables_filter input {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .cid-rkTqinzbMr table th,
  .cid-rkTqinzbMr table td {
    padding: .75rem;
  }
}
.cid-rkTqinzbMr .body-item B {
  color: #ff4533;
}
.cid-rkTqinzbMr .body-item {
  color: #4267b2;
}
.cid-rkTqinzbMr .mbr-section-title,
.cid-rkTqinzbMr .underline {
  color: #4267b2;
}
.cid-rkTqFI2THG {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rkTqFI2THG .mbr-section-subtitle {
  color: #767676;
}
.cid-rkTqFI2THG .scroll {
  overflow-x: auto;
  padding: 0;
}
.cid-rkTqFI2THG .table-wrapper {
  margin: 0 auto;
}
.cid-rkTqFI2THG table {
  width: 100% !important;
  margin-top: 6px;
  margin-bottom: 0;
}
.cid-rkTqFI2THG table th {
  padding: 1.5rem 1rem;
  transition: all .2s;
  text-align: center;
  background-color: #81c723;
  color: white;
  vertical-align: middle;
}
.cid-rkTqFI2THG table td {
  padding: 1.2rem 1.6rem;
  vertical-align: middle;
}
.cid-rkTqFI2THG .dataTables_filter {
  text-align: right;
  margin-bottom: .5rem;
}
.cid-rkTqFI2THG .dataTables_filter label {
  display: inline;
  white-space: normal !important;
}
.cid-rkTqFI2THG .dataTables_filter input {
  display: inline;
  width: auto;
  margin-left: .5rem;
  border-radius: 100px;
  padding-left: 1rem;
}
.cid-rkTqFI2THG .dataTables_info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: normal !important;
  text-align: left;
  width: 100%;
}
.cid-rkTqFI2THG .dataTables_wrapper {
  display: block;
}
.cid-rkTqFI2THG .dataTables_wrapper .search {
  margin-bottom: .5rem;
}
.cid-rkTqFI2THG .dataTables_wrapper .table {
  overflow-x: auto;
}
.cid-rkTqFI2THG .head-item:after,
.cid-rkTqFI2THG .head-item:before {
  bottom: 1.6em !important;
}
@media (max-width: 992px) {
  .cid-rkTqFI2THG .dataTables_filter {
    text-align: center;
  }
  .cid-rkTqFI2THG .table-wrapper {
    width: 100% !important;
  }
}
@media (max-width: 767px) {
  .cid-rkTqFI2THG .dataTables_filter {
    text-align: center;
  }
  .cid-rkTqFI2THG .dataTables_filter input {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .cid-rkTqFI2THG table th,
  .cid-rkTqFI2THG table td {
    padding: .75rem;
  }
}
.cid-rkTqFI2THG .body-item B {
  color: #ff4533;
}
.cid-rkTqFI2THG .body-item {
  color: #4267b2;
}
.cid-rkTqFI2THG .mbr-section-title,
.cid-rkTqFI2THG .underline {
  color: #4267b2;
}
.cid-rkToohYC27 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #000000;
}
.cid-rkToohYC27 .mbr-section-subtitle {
  color: #4267b2;
}
.cid-rkToohYC27 .mbr-section-title {
  color: #ffffff;
}
.cid-rkToohYC27 .mbr-section-subtitle B {
  color: #bcc2d8;
}
.cid-r1VEaXDC8o {
  padding-top: 90px;
  padding-bottom: 90px;
}
.cid-r1VEaXDC8o .plan-body .btn-bgr {
  z-index: 0;
}
.cid-r1VEaXDC8o .media-container-row {
  align-items: flex-start;
}
.cid-r1VEaXDC8o .list-group-item {
  padding: .75rem 0rem;
}
.cid-r1VEaXDC8o .plan-subtitle {
  color: #ffffff;
}
.cid-r1VEaXDC8o .mbr-text {
  margin: 10px 0 0 0;
  color: #ffffff;
}
.cid-r1VEaXDC8o .price-term .term {
  display: inline-block;
  background: #ffffff;
  padding: 5px 10px;
  border-radius: 100px;
}
.cid-r1VEaXDC8o .plan {
  padding: 1.875rem;
  background: none;
  position: relative;
}
.cid-r1VEaXDC8o .plan .mbr-overlay {
  background: #4267b2;
  opacity: 1;
}
.cid-r1VEaXDC8o .plan .plan-price {
  margin-top: 15px;
  padding: 20px 0;
  border-top: 1px solid #eaeaea;
}
.cid-r1VEaXDC8o .plan .plan-price .price-term {
  margin-top: 10px;
}
.cid-r1VEaXDC8o .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
  background: none;
}
.cid-r1VEaXDC8o .plan .list-group-item::after {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #eaeaea;
}
.cid-r1VEaXDC8o .plan .mbr-section-btn a {
  margin-bottom: 0;
}
.cid-r1VEaXDC8o .plan .plan-body {
  position: relative;
  border-top: 1px solid #eaeaea;
}
@media (max-width: 992px) {
  .cid-r1VEaXDC8o .plan {
    margin-bottom: 30px;
  }
}
.cid-r1VEaXDC8o .plan-header {
  position: relative;
}
@media (max-width: 550px) {
  .cid-r1VEaXDC8o .price-figure {
    font-size: 4.25rem;
  }
}
.cid-r1VEaXDC8o .price-term {
  color: #4267b2;
}
.cid-rkTomaV0EX {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/alan-teo-parachute-1203x785.png");
}
.cid-rkTomaV0EX .mbr-section-subtitle {
  color: #4267b2;
}
.cid-rkTomaV0EX .mbr-section-title {
  color: #ffffff;
}
.cid-rkTomaV0EX .mbr-section-subtitle B {
  color: #bcc2d8;
}
.cid-rkSI4DzVgG {
  padding-top: 90px;
  padding-bottom: 90px;
}
.cid-rkSI4DzVgG .plan-body .btn-bgr {
  z-index: 0;
}
.cid-rkSI4DzVgG .media-container-row {
  align-items: flex-start;
}
.cid-rkSI4DzVgG .list-group-item {
  padding: .75rem 0rem;
}
.cid-rkSI4DzVgG .plan-subtitle {
  color: #ffffff;
}
.cid-rkSI4DzVgG .mbr-text {
  margin: 10px 0 0 0;
  color: #ffffff;
}
.cid-rkSI4DzVgG .price-term .term {
  display: inline-block;
  background: #ffffff;
  padding: 5px 10px;
  border-radius: 100px;
}
.cid-rkSI4DzVgG .plan {
  padding: 1.875rem;
  background: none;
  position: relative;
}
.cid-rkSI4DzVgG .plan .mbr-overlay {
  background: #4267b2;
  opacity: 1;
}
.cid-rkSI4DzVgG .plan .plan-price {
  margin-top: 15px;
  padding: 20px 0;
  border-top: 1px solid #eaeaea;
}
.cid-rkSI4DzVgG .plan .plan-price .price-term {
  margin-top: 10px;
}
.cid-rkSI4DzVgG .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
  background: none;
}
.cid-rkSI4DzVgG .plan .list-group-item::after {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #eaeaea;
}
.cid-rkSI4DzVgG .plan .mbr-section-btn a {
  margin-bottom: 0;
}
.cid-rkSI4DzVgG .plan .plan-body {
  position: relative;
  border-top: 1px solid #eaeaea;
}
@media (max-width: 992px) {
  .cid-rkSI4DzVgG .plan {
    margin-bottom: 30px;
  }
}
.cid-rkSI4DzVgG .plan-header {
  position: relative;
}
@media (max-width: 550px) {
  .cid-rkSI4DzVgG .price-figure {
    font-size: 4.25rem;
  }
}
.cid-rkSI4DzVgG .price-term {
  color: #4267b2;
}
.cid-rkToqFvNQL {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #000000;
}
.cid-rkToqFvNQL .mbr-section-subtitle {
  color: #4267b2;
}
.cid-rkToqFvNQL .mbr-section-title {
  color: #ffffff;
}
.cid-rkToqFvNQL .mbr-section-subtitle B {
  color: #bcc2d8;
}
.cid-rkTsClYCWL .row {
  align-items: center;
  -webkit-align-items: center;
}
.cid-rkTsClYCWL .form-1 {
  z-index: 1;
  background-color: transparent;
  padding: 3rem;
  position: relative;
  overflow: hidden;
}
.cid-rkTsClYCWL .form-1 .mbr-overlay {
  z-index: -1;
}
.cid-rkTsClYCWL .input-wrap {
  padding: 0;
  margin-bottom: 1.3em;
}
.cid-rkTsClYCWL .input-wrap input {
  color: #ffffff !important;
  border: none;
  border-radius: 0 !important;
  background-color: transparent;
  width: 96%;
  padding: .5rem 0rem;
  border-bottom: 1px solid #ffffff;
}
.cid-rkTsClYCWL .input-wrap input:focus {
  outline: none;
}
.cid-rkTsClYCWL .input-group-btn {
  display: block;
}
.cid-rkTsClYCWL .btn-row {
  padding-left: 0;
}
.cid-rkTsClYCWL input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.cid-rkTsClYCWL input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.cid-rkTsClYCWL .form-subtitle {
  line-height: 1.6;
  color: #767676;
}
.cid-rkTsClYCWL .mbr-section-subtitle {
  color: #e96188;
}
.cid-rkTsClYCWL .form-text {
  line-height: 1.6;
  color: #767676;
  margin: 0;
}
@media (min-width: 992px) {
  .cid-rkTsClYCWL .text-element {
    padding-right: 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-rkTsClYCWL .form-1 {
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rkTsClYCWL .underline .line {
    height: 2px;
  }
  .cid-rkTsClYCWL .text-element {
    padding-bottom: 1rem;
  }
  .cid-rkTsClYCWL .form-1 {
    padding: 2rem;
    margin: 1rem;
  }
  .cid-rkTsClYCWL .mbr-section-subtitle,
  .cid-rkTsClYCWL .mbr-section-title,
  .cid-rkTsClYCWL .mbr-text,
  .cid-rkTsClYCWL .mbr-section-btn,
  .cid-rkTsClYCWL .form-title,
  .cid-rkTsClYCWL .form-subtitle,
  .cid-rkTsClYCWL input.field,
  .cid-rkTsClYCWL .input-group-btn,
  .cid-rkTsClYCWL .form-text {
    text-align: center !important;
  }
}
.cid-rkTsClYCWL .form-subtitle,
.cid-rkTsClYCWL input.field {
  text-align: center;
  color: #efefef;
}
.cid-rkTsClYCWL .form-title {
  text-align: center;
}
.cid-rkTsClYCWL .form-text,
.cid-rkTsClYCWL .input-group-btn {
  text-align: center;
  color: #ffffff;
}
.cid-rkTsClYCWL .mbr-section-subtitle B {
  color: #81c723;
}
.cid-r1ebSSC9Uq {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-r1ebSSC9Uq .mbr-section-subtitle {
  color: #4267b2;
  font-weight: 300;
}
.cid-r1ebSSC9Uq .number {
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  text-transform: none;
  letter-spacing: -2px;
  word-spacing: 0;
  line-height: 1.3;
  color: #4267b2;
}
.cid-r1ebSSC9Uq .period {
  display: block;
  padding-top: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: #4267b2;
}
.cid-r1ebSSC9Uq .dot {
  position: absolute;
  top: -10px;
  right: -1em;
  width: 1em;
  display: none;
  height: 83%;
  overflow: hidden;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 89.65px;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
  color: #4267b2;
}
.cid-r1ebSSC9Uq .countdown-cont {
  max-width: 700px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-r1ebSSC9Uq .dot {
    display: none;
  }
}
@media (max-width: 543px) {
  .cid-r1ebSSC9Uq .number-wrap {
    margin-bottom: 15px;
  }
}
@media (max-width: 550px) {
  .cid-r1ebSSC9Uq .col-xs-3 {
    padding-left: 0;
    padding-right: 0;
  }
  .cid-r1ebSSC9Uq .number-wrap {
    min-width: auto;
  }
}
@media (max-width: 440px) {
  .cid-r1ebSSC9Uq .number,
  .cid-r1ebSSC9Uq .dot {
    font-size: 40px;
  }
}
@media (max-width: 380px) {
  .cid-r1ebSSC9Uq .period {
    font-size: 0.8rem;
  }
}
.cid-r1ebSSC9Uq H2 {
  color: #4267b2;
}
.cid-r16VK07H3S {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-r16VK07H3S *:focus {
  outline: none;
}
.cid-r16VK07H3S .input-wrap {
  padding-bottom: 1rem;
}
.cid-r16VK07H3S .form-control,
.cid-r16VK07H3S .field {
  width: 100%;
  min-height: auto;
  color: #4267b2 !important;
  border: none;
  border-radius: 0 !important;
  background-color: transparent;
  padding: .5rem 0rem;
  border-bottom: 1px solid #4267b2;
}
.cid-r16VK07H3S .form-control:focus,
.cid-r16VK07H3S .field:focus {
  outline: none;
}
.cid-r16VK07H3S input::-webkit-input-placeholder {
  color: #4267b2;
}
.cid-r16VK07H3S input::-moz-placeholder {
  color: #4267b2;
}
.cid-r16VK07H3S textarea::-webkit-input-placeholder {
  color: #4267b2;
}
.cid-r16VK07H3S textarea::-moz-placeholder {
  color: #4267b2;
}
.cid-r16VK07H3S .soc-item {
  display: inline-block;
  margin: 0 .1rem .2rem .1rem;
  padding: 10px 11px 0 11px;
  border: 1px solid #4267b2;
  border-radius: 50%;
}
.cid-r16VK07H3S .soc-item:hover {
  opacity: .5;
}
.cid-r16VK07H3S .soc-item .socicon {
  font-size: 1.5rem;
  color: #4267b2;
}
.cid-r16VK07H3S .days-column,
.cid-r16VK07H3S .hours-column {
  display: inline-block;
}
.cid-r16VK07H3S .days-column span,
.cid-r16VK07H3S .hours-column span {
  display: block;
}
.cid-r16VK07H3S .input-group-btn {
  display: block;
}
@media (max-width: 767px) {
  .cid-r16VK07H3S .days-column {
    padding-right: 0 !important;
  }
  .cid-r16VK07H3S .hours-column {
    max-width: 50% !important;
  }
  .cid-r16VK07H3S .opening-hours {
    padding-bottom: 48px !important;
  }
}
.cid-r16VK07H3S .follow-title,
.cid-r16VK07H3S .social-list {
  text-align: center;
}
.cid-r16VK07H3S .follow-title,
.cid-r16VK07H3S .social-list B {
  color: #4267b2;
}
.cid-r16VK07H3S .address-title,
.cid-r16VK07H3S .address-block B {
  color: #4267b2;
}
.cid-r16VK07H3S .contacts-title,
.cid-r16VK07H3S .contacts-block B {
  color: #4267b2;
}
